

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    height: 55px;
    background-color: #131921; 
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 5px 20px;                     
    
    display:flex;
    gap: 10px;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-top: 7px; 
}

.logo {
    background-image: url("Amazon-Logo-Extended.png");
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px; 
    width: 100px;

}

.border{
    border:2px solid transparent;
    padding:5px;
}

.border:hover{
    border:1.5px solid rgb(238, 235, 235);
}

/**box2**/
.add-first{
color:rgb(193, 200, 206);
font-size:0.8rem;
margin-left:  15px; ;
}

.add-second{
color:white;
font-size: 0.83rem;
font-weight: bold;
margin-left: 3px;
}

.add-icon{
    display:flex;
    align-items: center;      
}

/**box3**/
.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(238, 187, 94);
    width:620px;
    height:40px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid rgb(233, 179, 78);
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;
    border: none;
}

.search-input {
    width:100%;
    
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.3rem;
    background-color: rgb(190, 140, 47);
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px ;
    color:#0f1111;
   
}
/**box4**/
.nav-loc {
    display: flex;
    align-items: center;
    padding: 7px;
    border: 1px solid transparent;
    cursor: pointer;
    
}
.nav-loc:hover {
    border-color: white;
}
    .add-flag img {
        width: 20px;  
        height: auto; /* Maintain aspect ratio */
       
        
    }
    

.search-lang{
    background-color: #070707;
    width:50px;
    text-align:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;
    border:none;
    color: white;
    
    margin:0;
}
/**box5**/


.add-one{
    color:white;
    font-size:0.9rem;
    margin-left:  15px;
    text-align:left; 
    }
    
    .add-two{
    color:white;
    font-size: 0.91rem;
    font-weight: bold;
    margin-left: 15px;
    text-align:left;
    }
    /**box6**/
    .add-i{
        color:white;
        font-size:0.9rem;
        margin-left:  15px;
        text-align:left; 
       
        width:max-content;
        }
        
        .add-ii{
        color:white;
        font-size: 0.91rem;
        font-weight: bold;
        margin-left: 15px;
        text-align:left;
       
        width:max-content;
        }

        /**box7**/
        .nav-cart i{
            font-size: 29px;

        }
        .nav-cart{
            font-size:0.8rem;
            font-weight:700;
            display: flex;
            align-items:end;
        }
    
         /*Panel*/
         .panel {
            height: 40px;
            background-color:#232f3e ;
            display:flex;
            color: #f3f3f3;
           
            align-items: center;
           
           }
          .panel-ops{
            display:flex;
           align-items: center;
           justify-content: space-evenly;
           width: 100%;
           font: size 0.50rem;
           font-weight: 200;
          }
          
        
          .panel-all{
            display: flex;
            font:size 0.77rem;
            padding-left: 15px; /* Moves the whole section slightly to the right */
            align-items: center; /* Vertically center */
            gap: 6px;
            font-weight: 200;
            font: size 0.50rem;
          }
          .panel-all:hover{
            border-color: #f3f3f3;
          }
          /**hero**/
          .hero-section{
            background-image:url("hero_image.jpg");
            height: 300px;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: flex-end;
          }
          .hero-message{
            background-color: white;
            color: #070707;
            height: 40px;
            display: flex;
            display:block;
            align-items: center;
            text-align: center;
            justify-content: center;
            font-size: 0.87rem;
            margin-bottom: 25px;
            width:89%;
            padding: 10px 0;
            
          }
          .hero-message a{
            color:#007185;
            width: 80%;
          }
          /**shop**/
          .shop-section{
            display: flex;
            justify-content: space-evenly;
            background-color: #e2e7e6;
            flex-wrap: wrap;
          }
          .box{
           
            height:400px;
            width: 24%;
            background-color: white;
            padding: 20px 0px 15px;
            margin-top: 15px;

          }
           .box1-img{
            background-image:url("box1_image.jpg");
            height: 300px;
            background-repeat: no-repeat;
            background-size:cover;
            margin-bottom: 1rem;
            margin-top: 1rem;
           }
           .box2-img{
            background-image:url("box2_image.jpg");
            height: 300px;
            background-repeat: no-repeat;
            background-size:cover;
            margin-bottom: 1rem;
            margin-top: 1rem;
           }
           .box3-img{
            background-image:url("box3_image.jpg");
            height: 300px;
            background-repeat: no-repeat;
            background-size:cover;
            margin-bottom: 1rem;
            margin-top: 1rem;
           }
           .box4-img{
            background-image:url("box4_image.jpg");
            height: 300px;
            background-repeat: no-repeat;
            background-size:cover;
            margin-bottom: 1rem;
            margin-top: 1rem;
           }
           .box5-img{
            background-image:url("box5_image.jpg");
            height: 300px;
            background-repeat: no-repeat;
            background-size:cover;
            margin-bottom: 1rem;
            margin-top: 1rem;
           }
           .box6-img{
            background-image:url("box6_image.jpg");
            height: 300px;
            background-repeat: no-repeat;
            background-size:cover;
            margin-bottom: 1rem;
            margin-top: 1rem;
           }
           .box7-img{
            background-image:url("box7_image.jpg");
            height: 300px;
            background-repeat: no-repeat;
            background-size:cover;
            margin-bottom: 1rem;
            margin-top: 1rem;
           }
           .box8-img{
            background-image:url("box8_image.jpg");
            height: 300px;
            background-repeat: no-repeat;
            background-size:cover;
            margin-bottom: 1rem;
            margin-top: 1rem;
           }
           .box-content{
            margin-left: 1rem;
            margin-right: 1rem;
           }
.box-content p{
    color:#007185;
    font-size: medium;  
}

/*footer*/
.footer{
    margin-top: 15px;
}
.foot-panel{
     cursor: pointer;
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}


          
          


          
